### SQL for Data & Analysis

#### SQL is used for managing, querying, and populating databases
#### Relational Concepts, SQL Queries, and More Advanced SQL is what we will be reviewing over the next 3 lessons

#### Will need to define schemas, import data, and perform querys on the data for our project

### What's a database anyway?

#### Relational databases allow for: persistent storage, safe concurrent access by multiple programs/users, flexible query language with aggregation and join operations, constraints (rules for protecting consistency of your data)

#### In databases, everything is saved as tables. At the heart of relational databases is how different pieces of data relate to each other.

### Data types & meanings are important to databases to keep consistency

### Aggregations in SQL

#### Count = how many rows?
#### Avg = what's the average
#### Max = what's the greatest
#### Min = what's the least
#### Sum = what's the sum

### Table Structure

In [ ]:
# column name
select food
# table name
from diet
# condition of table
where species = 'orangutan'

### How queries happen

#### your code -> query -> DB server -> result -> your code
#### the above code returns a list of food which includes 'plants' & 'insects'

### Joins happen with tables of similar values

### Uniqueness and Keys

#### Think of people with the same name - unique, but possible for duplication (ex. Jen Smith)

#### A column in a table that identifies the rows in that table is known as a 'primary key'

### Joining Tables Example

In [ ]:
select animals.name, animals.species, diet.food
from animals join diet on animals.species = diet.species
where food = 'fish'

### Quiz 1

In [ ]:
'''

Welcome to your first Problem Set!  

Problem Sets are here to get you set up and ready to start doing
amazing things using SQL.

In this exercise, there are a bunch of queries for you to try out. 
Feel free to experiment by changing existing queries or writing one all on your own!

Let's jump right in...

Hit Test Run to see the result of your first query!

'''

# QUERY = "SELECT Composer, Name FROM Track WHERE Composer='Van Halen';"

'''

NICE WORK!  Were you able to see the output below?  That's your data :)

Throughout the problem sets in this course you'll be using the Chinook Database.

This database represents a music store you're going to query, explore 
and eventually build all on your own!

SQL is all about answering questions driven by your own curiosity and 
excitement about the data you've collected.  

Let's ask our database another question!

'''

'''QUESTION:Which songs in this dataset were written by AC/DC?'''

# <-- Remove this hashtag from before any QUERY to 'uncomment' it.
# Next hit Test Run to see the result. 

# QUERY = "SELECT Name FROM Track WHERE Composer='AC/DC';"

'''Do you think that query did a good job answering the question?'''


'''

You'll notice the SQL closely resembles spoken language and it's not 
too hard to figure out what a query is asking.  

See if you can figure out what the following questions are hoping to find!

'''


'''QUESTION: How long would it take to listen to all the songs in our 
dataset that were written by Johannes Sebastian Bach?'''

#QUERY = "SELECT Composer, sum(Milliseconds) FROM Track WHERE Composer='Johann Sebastian Bach';"


'''QUESTION: Fill in the question you think could be answered by the following query.'''

#QUERY = "SELECT FirstName, LastName FROM Customer WHERE FirstName='Phil';"

'''Did this query find an employee named Phil?''' 


'''QUESTION: Fill in the question you think could be answered by the following query.'''

#QUERY = "SELECT FirstName, LastName, Title, Birthdate FROM Employee;"


'''
Did running your queries return the type of results you might have expected?  I hope so :)

Let's try something a little different...

Can you change the following query so that it better answers the given question?

QUESTION: Which tracks in our dataset were written by Jimi Hendrix?'''

# QUERY = "SELECT Composer, Name FROM Track WHERE Composer = 'Jimi Hendrix';"

'''

Were you able to get a list of songs by Jimi Hendrix?

A great way to start building your own queries is by knowing which  
tables and columns are held in your database.

One way to learn this is by setting up your own local environment, 
and that's what you'll be doing by the end of this problem set!

'''

### Quiz 2

In [1]:
# in this quiz, we checked to see if sqlite3 was running 
# in terminal (it was) and connected it to a database

### Quiz 3

In [4]:
# getting used to syntax in terminal to control SQLite

# .tables returns all tables in database
# .schema (table_name) returns the table name, column names, datatypes, primary keys, and foreign keys
# example below

sqlite> .schema Album

CREATE TABLE [Album]
(
[AlbumId] INTEGER  NOT NULL,
[Title] NVARCHAR(160)  NOT NULL,
[ArtistId] INTEGER  NOT NULL,
CONSTRAINT [PK_Album] PRIMARY KEY  ([AlbumId]),
FOREIGN KEY ([ArtistId]) REFERENCES [Artist] ([ArtistId]) 
    ON DELETE NO ACTION ON UPDATE NO ACTION
);
CREATE UNIQUE INDEX [IPK_Album] ON [Album]([AlbumId]);
CREATE INDEX [IFK_AlbumArtistId] ON [Album] ([ArtistId]);

# What it means?

CREATE TABLE [Album] <-- This is the table name, Album.

[AlbumId] <---These are your column names
[Title]       This table has 3.
[ArtistId]    AlbumId, Title, ArtistId

            INTEGER,       <---Next are the datatypes
            NVARCHAR(160),     Each column needs a datatype
            INTEGER,           You learned these last lesson!         

# The rest of the output seen are various CONSTRAINTS place in the database
# Databases have primary keys, foreign keys, and NULL value constraints

# If you don't specify the table in the .schema command, it will return the schema for all tables in the database

# Example queries

SELECT * FROM Invoice;

SELECT * FROM Employee;

# make sure to include semi-colon at end! otherwise sql will continue to run forever

SyntaxError: invalid syntax (<ipython-input-4-aec6a5197c1a>, line 7)

## Database we will be using through lessons

https://chinookdatabase.codeplex.com/