# Querying the Adelaide, South Australia OpenStreetMap Data

In [2]:
import sqlite3
import pandas as pd
import csv
import os
from pprint import pprint

In [3]:
# name of adelaide database
sqlite_file = 'adelaide.db'

# connect to database
conn = sqlite3.connect(sqlite_file)

# get a cursor object
cur = conn.cursor()

## Map Area - Adelaide, SA Australia

#### https://mapzen.com/data/metro-extracts/metro/adelaide_australia/

#### This map is the largest city in South Australia, Adelaide. In 2010, I studied abroad and thought this project would be a great way to get reacquainted with the city and the area surrounding it.

## Summary statistics of adelaide.db
### This section contains summary statistics about the datasets and the queries that were used to gain them. 

#### Descriptive stats for each file imported into adelaide.db

In [50]:
path = "/Users/marcmaybaum/Desktop/Education/Udacity/Data_Analyst_Nanodegree/Project_3/Final_Project/Full OSM File/3 Final//"

for file in os.listdir(path):
    adjfile = "/Users/marcmaybaum/Desktop/Education/Udacity/Data_Analyst_Nanodegree/Project_3/Final_Project/Full OSM File/3 Final//" + file
    df = pd.read_csv(adjfile)
    print (file)
    print(df.describe())

nodes.csv
                 id           lat           lon           uid       version  \
count  1.114143e+06  1.114143e+06  1.114143e+06  1.114143e+06  1.114143e+06
mean   2.460383e+09 -3.488842e+01  1.386219e+02  6.413460e+05  1.306376e+00
std    1.285227e+09  1.358327e-01  9.551153e-02  1.127583e+06  1.100317e+00
min    2.652892e+07 -3.526099e+01  1.384170e+02  1.590000e+02  1.000000e+00
25%    1.800315e+09 -3.495906e+01  1.385407e+02  1.720610e+05  1.000000e+00
50%    2.293527e+09 -3.488178e+01  1.386122e+02  2.098670e+05  1.000000e+00
75%    3.159142e+09 -3.480214e+01  1.386882e+02  3.415190e+05  1.000000e+00
max    5.121893e+09 -3.457001e+01  1.388540e+02  6.692273e+06  4.300000e+01

          changeset
count  1.114143e+06
mean   2.160189e+07
std    1.364356e+07
min    4.161000e+03
25%    1.267715e+07
50%    1.665684e+07
75%    2.901270e+07
max    5.227505e+07
nodes_tags.csv
                 id
count  7.479900e+04
mean   2.109125e+09
std    1.132552e+09
min    2.653677e+07
25%    1.764259e+09
50%    2.280660e+09
75%    2.280671e+09
max    5.121185e+09
ways.csv
                 id           uid        version     changeset
count  1.454090e+05  1.454090e+05  145409.000000  1.454090e+05
mean   2.385446e+08  7.290041e+05       2.252330  2.624907e+07
std    1.364844e+08  1.314545e+06       2.557346  1.390563e+07
min    4.354947e+06  1.590000e+02       1.000000  8.726000e+03
25%    1.702264e+08  1.720610e+05       1.000000  1.565444e+07
50%    2.202290e+08  1.720610e+05       1.000000  2.131932e+07
75%    3.112681e+08  3.285380e+05       2.000000  4.027499e+07
max    5.267710e+08  6.671133e+06      57.000000  5.227505e+07
ways_nodes.csv
                 id       node_id      position
count  1.330775e+06  1.330775e+06  1.330775e+06
mean   2.386014e+08  2.419543e+09  2.060016e+01
std    1.377354e+08  1.292277e+09  7.093113e+01
min    4.354947e+06  2.652892e+07  0.000000e+00
25%    1.656119e+08  1.772567e+09  2.000000e+00
50%    2.208408e+08  2.289010e+09  5.000000e+00
75%    3.112431e+08  3.157462e+09  1.200000e+01
max    5.267710e+08  5.121893e+09  1.664000e+03
ways_tags.csv
                 id
count  3.435580e+05
mean   1.991662e+08
std    1.296961e+08
min    4.354947e+06
25%    9.202360e+07
50%    1.803300e+08
75%    2.618023e+08
max    5.267666e+08

#### Number of nodes in OpenStreetMap data

In [4]:
query1_0 = '''select count(*)
            from nodes'''
cur.execute(query1_0)
results = cur.fetchall()

df = pd.DataFrame(results)
print (df)

         0
0  1114143

#### Number of unique users who contributed to the OpenStreetMap nodes data

In [10]:
query1_1 = '''select count(distinct uid)
            from nodes'''
cur.execute(query1_1)
results = cur.fetchall()

df = pd.DataFrame(results)
print (df)

     0
0  695

#### List of all node keys and the count of them in DB

In [12]:
query1_4 = '''select distinct key, count(value) 
            from nodes_tags
            group by key 
            order by count(value) desc'''
cur.execute(query1_4)
results = cur.fetchall()

df = pd.DataFrame(results)
print (df)

                    0      1
0             highway  15783
1                name  11354
2              source   9790
3             stop_id   7131
4             amenity   5019
5             natural   3910
6          created_by   3096
7               power   1334
8                shop   1264
9         housenumber   1147
10             street   1066
11           postcode    868
12            barrier    846
13            railway    715
14               odbl    641
15             noexit    624
16               city    577
17            leisure    550
18    traffic_calming    538
19            website    508
20            cuisine    494
21           crossing    389
22   public_transport    372
23              place    357
24           operator    344
25      opening_hours    292
26              is_in    287
27            tourism    261
28           man_made    256
29              level    244
..                ...    ...
269            name_1      1
270              none      1
271        octane_100      1
272          old_name      1
273           organic      1
274          pipeline      1
275            po_box      1
276      power_supply      1
277          province      1
278        restaurant      1
279            retail      1
280             ruins      1
281          seasonal      1
282        segregated      1
283      self_service      1
284              size      1
285         smokefree      1
286                sr      1
287         superwash      1
288                sv      1
289                ta      1
290              todo      1
291          trailers      1
292             train      1
293                uk      1
294             vegan      1
295              visa      1
296           voltage      1
297             water      1
298         winemaker      1

[299 rows x 2 columns]

#### Number of ways in OpenStreetMap data

In [20]:
query1_2 = '''select count(distinct id)
            from ways'''
cur.execute(query1_2)
results = cur.fetchall()

df = pd.DataFrame(results)
print (df)

        0
0  145409

#### Number of unique users who contributed to the OpenStreetMap ways data

In [11]:
query1_3 = '''select count(distinct uid)
            from ways'''
cur.execute(query1_3)
results = cur.fetchall()

df = pd.DataFrame(results)
print (df)

     0
0  582

#### List of all ways keys and count of them in DB

In [13]:
query1_5 = '''select distinct key, count(value) 
            from ways_tags
            group by key 
            order by count(value) desc'''
cur.execute(query1_5)
results = cur.fetchall()

df = pd.DataFrame(results)
print (df)

               0      1
0        highway  64096
1       building  56640
2           name  50476
3         source  30884
4       maxspeed  15680
5         oneway  13703
6        surface  11964
7        landuse   5978
8       postcode   5688
9        service   5529
10       leisure   5478
11   housenumber   5262
12        street   5129
13        levels   3999
14         lanes   3471
15          foot   3297
16       amenity   3227
17          city   3050
18      waterway   3020
19       bicycle   2876
20         is_in   2717
21        access   2465
22       natural   2363
23      cycleway   2226
24         sport   2129
25           ref   2028
26       barrier   1825
27         order   1824
28      junction   1442
29         layer   1232
..           ...    ...
308   population      1
309     quantity      1
310        radio      1
311     real_ale      1
312       remote      1
313     resident      1
314   restaurant      1
315  restriction      1
316        right      1
317         role      1
318         room      1
319        rooms      1
320      routetb      1
321        ruins      1
322  second_hand      1
323    shape_len      1
324      source2      1
325     starcash      1
326        stars      1
327         stay      1
328        steps      1
329    superwash      1
330   trail_na_2      1
331   trail_rati      1
332     trailers      1
333      twitter      1
334      weather      1
335         webs      1
336        women      1
337           zh      1

[338 rows x 2 columns]

### After becoming familiar with each individual dataset, I want to look at the datasets when the nodes and ways tables are combined. I will make a master table/view because all keys/values in ways & nodes have relationships.

https://wiki.openstreetmap.org/wiki/Way

https://wiki.openstreetmap.org/wiki/Node

### Ways are the totality of each shared Node Id. Ways and Nodes can be matched by the Ways_Nodes table, which matches Ways Id with Nodes Id. To create this joined table, we will be using these ID fields.

In [21]:
query0 = '''drop view master'''
cur.execute(query0)
results = cur.fetchall()

df = pd.DataFrame(results)
print (df)

Empty DataFrame
Columns: []
Index: []

### Creating master view of all data that is able to be matched on the below shared fields

In [22]:
query2 = '''
            create view master as
            select distinct ways_nodes.id as ways_id, ways_nodes.node_id as nodes_id, ways_tags.key as ways_key, ways_tags.value as ways_value, nodes_tags.key as nodes_key, nodes_tags.value as nodes_value
            from ways_nodes
            INNER JOIN nodes_tags ON nodes_tags.id = ways_nodes.node_id 
            INNER JOIN ways_tags ON ways_nodes.id = ways_tags.id
            order by ways_nodes.id
        '''
cur.execute(query2)
results = cur.fetchall()

df = pd.DataFrame(results)
print (df)

Empty DataFrame
Columns: []
Index: []

### Previewing the master view created

In [23]:
query2_1 = '''
            select *
            from master
            where ways_key = 'natural'
            limit 50
        '''
cur.execute(query2_1)
results = cur.fetchall()

df = pd.DataFrame(results)
print (df)

          0         1        2          3           4                  5
0   4688888  29802484  natural  coastline      source                pgs
1   4688889  29802451  natural  coastline  created_by  almien_coastlines
2   4688889  29802451  natural  coastline      source                pgs
3   4688889  29802464  natural  coastline  created_by  almien_coastlines
4   4688889  29802464  natural  coastline      source                pgs
5   4688889  31910967  natural  coastline      source                pgs
6   4688917  29802313  natural  coastline      source                pgs
7   4688917  29802314  natural  coastline      source                pgs
8   4688917  29802328  natural  coastline      source                pgs
9   4688917  29802331  natural  coastline      source                pgs
10  4688917  29802334  natural  coastline  created_by  almien_coastlines
11  4688917  29802334  natural  coastline      source                pgs
12  4688917  29802351  natural  coastline      source                pgs
13  4688917  29802352  natural  coastline      source                pgs
14  4688917  29802362  natural  coastline      source                pgs
15  4688917  29802363  natural  coastline      source                pgs
16  4688917  29802364  natural  coastline      source                pgs
17  4688917  29802366  natural  coastline  created_by  almien_coastlines
18  4688917  29802366  natural  coastline      source                pgs
19  4688917  29802368  natural  coastline  created_by  almien_coastlines
20  4688917  29802368  natural  coastline      source                pgs
21  4688917  29802369  natural  coastline      source                pgs
22  4688917  29802371  natural  coastline      source                pgs
23  4688917  29802373  natural  coastline      source                pgs
24  4688917  29802376  natural  coastline  created_by  almien_coastlines
25  4688917  29802376  natural  coastline      source                pgs
26  4688917  29802379  natural  coastline  created_by  almien_coastlines
27  4688917  29802379  natural  coastline      source                pgs
28  4688917  29802380  natural  coastline  created_by  almien_coastlines
29  4688917  29802380  natural  coastline      source                pgs
30  4688917  29802381  natural  coastline  created_by  almien_coastlines
31  4688917  29802381  natural  coastline      source                pgs
32  4688917  29802384  natural  coastline  created_by  almien_coastlines
33  4688917  29802384  natural  coastline      source                pgs
34  4688917  29802389  natural  coastline      source                pgs
35  4688917  29802390  natural  coastline  created_by  almien_coastlines
36  4688917  29802390  natural  coastline      source                pgs
37  4688917  29802393  natural  coastline  created_by  almien_coastlines
38  4688917  29802393  natural  coastline      source                pgs
39  4688917  29802405  natural  coastline      source                pgs
40  4688917  29802416  natural  coastline  created_by  almien_coastlines
41  4688917  29802416  natural  coastline      source                pgs
42  4688917  29802420  natural  coastline  created_by  almien_coastlines
43  4688917  29802420  natural  coastline      source                pgs
44  4688917  29802422  natural  coastline      source                pgs
45  4688917  29802433  natural  coastline  created_by  almien_coastlines
46  4688917  29802433  natural  coastline      source                pgs
47  4688917  29802434  natural  coastline      source                pgs
48  4688917  29802439  natural  coastline      source                pgs
49  4688917  29802451  natural  coastline  created_by  almien_coastlines

### Counting number of rows in master table

In [18]:
query2_2 = '''
            select count(*)
            from master
        '''
cur.execute(query2_2)
results = cur.fetchall()

df = pd.DataFrame(results)
print (df)

        0
0  108072

## Problems encountered in data
## 1) All IDs do not match all possible way ids in previous query
### Can be seen by comparing count of ways_tags ids vs count of ids in master table (above), or the count of nodes values and distinct node keys vs the master table of nodes keys and count of value (below).

In [283]:
query3_1 = '''select distinct nodes_key, count(nodes_value) 
            from master 
            group by nodes_key 
            order by count(nodes_value) desc'''
cur.execute(query3_1)
results = cur.fetchall()

df = pd.DataFrame(results)
print (df)

                   0    1
0            highway  484
1         created_by   90
2            railway   82
3             source   58
4               odbl   52
5             noexit   33
6           crossing   28
7            barrier   23
8   public_transport   23
9              power   19
10               bus   16
11   traffic_calming   16
12              name   11
13             fixme   10
14          man_made    8
15             mount    8
16      surveillance    8
17              type    8
18          operator    7
19           bicycle    5
20              foot    5
21          waterway    5
22           stop_id    4
23          motorcar    3
24        motorcycle    3
25            access    2
26      crossing_ref    2

### Master Keys & Count of Values of Keys (above) vs Nodes_Tags Keys & Count of Keys (below)

In [299]:
query3_2 = '''select distinct key, count(value) 
            from nodes_tags
            group by key 
            order by count(value) desc'''
cur.execute(query3_2)
results = cur.fetchall()

df = pd.DataFrame(results)
print (df)

                    0      1
0             highway  15783
1                name  11354
2              source   9790
3             stop_id   7131
4             amenity   5019
5             natural   3910
6          created_by   3096
7               power   1334
8                shop   1264
9         housenumber   1147
10             street   1066
11           postcode    868
12            barrier    846
13            railway    715
14               odbl    641
15             noexit    624
16               city    577
17            leisure    550
18    traffic_calming    538
19            website    508
20            cuisine    494
21           crossing    389
22   public_transport    372
23              place    357
24           operator    344
25      opening_hours    292
26              is_in    287
27            tourism    261
28           man_made    256
29              level    244
..                ...    ...
269            name_1      1
270              none      1
271        octane_100      1
272          old_name      1
273           organic      1
274          pipeline      1
275            po_box      1
276      power_supply      1
277          province      1
278        restaurant      1
279            retail      1
280             ruins      1
281          seasonal      1
282        segregated      1
283      self_service      1
284              size      1
285         smokefree      1
286                sr      1
287         superwash      1
288                sv      1
289                ta      1
290              todo      1
291          trailers      1
292             train      1
293                uk      1
294             vegan      1
295              visa      1
296           voltage      1
297             water      1
298         winemaker      1

[299 rows x 2 columns]

## This means that not all ways are connected to their nodes by id field in ways_tags
### This problem cannot be identified with a programmatic fix as id field cannot be re-written. This issue will continue unless someone is able to identify what node ids are missing their way ids, which must be done at the data input level.

## Problems encountered in data
## Issue 2: Non-normalized keys in Nodes_Tags
### Many keys have repeated language for the same information (example: postal_code & postcode:source can be compacted to postcode). Though there are other keys that could be re-mapped to an existing key, I have addressed the obvious ones (postcode & address).
## Solution: Programmatically categorize with mapping sheet

In [29]:
query3_3 = '''select distinct key, count(value) 
            from nodes_tags 
            group by key 
            order by count(value) desc'''
cur.execute(query3_3)
results = cur.fetchall()

df = pd.DataFrame(results)
print (df)

                    0      1
0             highway  15783
1                name  11354
2              source   9790
3             stop_id   7131
4             amenity   5019
5             natural   3910
6          created_by   3096
7               power   1334
8                shop   1264
9         housenumber   1147
10             street   1066
11           postcode    868
12            barrier    846
13            railway    715
14               odbl    641
15             noexit    624
16               city    577
17            leisure    550
18    traffic_calming    538
19            website    508
20            cuisine    494
21           crossing    389
22   public_transport    372
23              place    357
24           operator    344
25      opening_hours    292
26              is_in    287
27            tourism    261
28           man_made    256
29              level    244
..                ...    ...
269            name_1      1
270              none      1
271        octane_100      1
272          old_name      1
273           organic      1
274          pipeline      1
275            po_box      1
276      power_supply      1
277          province      1
278        restaurant      1
279            retail      1
280             ruins      1
281          seasonal      1
282        segregated      1
283      self_service      1
284              size      1
285         smokefree      1
286                sr      1
287         superwash      1
288                sv      1
289                ta      1
290              todo      1
291          trailers      1
292             train      1
293                uk      1
294             vegan      1
295              visa      1
296           voltage      1
297             water      1
298         winemaker      1

[299 rows x 2 columns]

### The same can be done for ways. Querying below to find out all keys in ways that need re-mapping.

In [30]:
query3_4 = '''select distinct key, count(value) 
            from ways_tags 
            group by key 
            order by count(value) desc'''

cur.execute(query3_4)
results = cur.fetchall()

df = pd.DataFrame(results)
print (df)

               0      1
0        highway  64096
1       building  56640
2           name  50476
3         source  30884
4       maxspeed  15680
5         oneway  13703
6        surface  11964
7        landuse   5978
8       postcode   5688
9        service   5529
10       leisure   5478
11   housenumber   5262
12        street   5129
13        levels   3999
14         lanes   3471
15          foot   3297
16       amenity   3227
17          city   3050
18      waterway   3020
19       bicycle   2876
20         is_in   2717
21        access   2465
22       natural   2363
23      cycleway   2226
24         sport   2129
25           ref   2028
26       barrier   1825
27         order   1824
28      junction   1442
29         layer   1232
..           ...    ...
308   population      1
309     quantity      1
310        radio      1
311     real_ale      1
312       remote      1
313     resident      1
314   restaurant      1
315  restriction      1
316        right      1
317         role      1
318         room      1
319        rooms      1
320      routetb      1
321        ruins      1
322  second_hand      1
323    shape_len      1
324      source2      1
325     starcash      1
326        stars      1
327         stay      1
328        steps      1
329    superwash      1
330   trail_na_2      1
331   trail_rati      1
332     trailers      1
333      twitter      1
334      weather      1
335         webs      1
336        women      1
337           zh      1

[338 rows x 2 columns]

## Next I am going to explore Nodes Tags details to understand the data in the database and the organization of the values and the needed organization of the values

In [31]:
# looking into all values for specific key values
# also looked into power, shop, street as key value

query3_5 = '''select distinct value, count(value)
            from nodes_tags
            where key = 'postcode'
            group by value
            order by count(value) desc
            '''
cur.execute(query3_5)
results = cur.fetchall()

df = pd.DataFrame(results)

print (df)

          0    1
0            304
1      5000  129
2      5159  115
3      5031   47
4      5115   21
5      5152   20
6      5006   19
7      5013   11
8      5114   10
9      5154   10
10     5127    8
11     5020    7
12     5040    7
13     5064    7
14     5095    7
15     5063    6
16     5033    5
17     5045    5
18     5068    5
19     5023    4
20     5051    4
21     5067    4
22     5082    4
23     5108    4
24     5245    4
25     5007    3
26     5008    3
27     5015    3
28     5019    3
29     5038    3
..      ...  ...
59     5042    1
60     5043    1
61     5048    1
62     5049    1
63     5050    1
64     5052    1
65     5061    1
66     5070    1
67     5073    1
68     5074    1
69     5084    1
70     5087    1
71     5091    1
72     5092    1
73     5093    1
74     5094    1
75     5107    1
76     5117    1
77     5118    1
78     5125    1
79     5158    1
80     5201    1
81     5240    1
82     5242    1
83     5251    1
84     5351    1
85     5501    1
86     5950    1
87  sa_5016    1
88  sa_5052    1

[89 rows x 2 columns]

## Looking into Ways Tags  details to understand the data in them and the organization of the values

## Problems encountered in data

## Issue 3: No organization to information that could be programmatically organized for the key 'website'

## Solution: clean the data by standardizing the beginning of the web address to 'http://www' and the end of the address to '.X' (the X could be 'com', 'org', 'gov', 'com.au', etc)

In [32]:
# looked into power, shop, street

query3_6 = '''select distinct value, count(value)
            from ways_tags
            where key = 'website'
            group by value
            order by count(value) desc
            '''
cur.execute(query3_6)
results = cur.fetchall()

df = pd.DataFrame(results)

print (df)

                                            0   1
0           http://www.charlessturt.sa.gov.au  24
1         http://www.adelaideparklands.com.au   8
2                  http://www.bunnings.com.au   4
3       http://www.centralmarketarcade.com.au   4
4                 http://www.westfield.com.au   4
5              http://www.adelaiderevival.com   3
6                 http://www.marion.sa.gov.au   3
7             http://www.nationaltrust.org.au   3
8                   http://www.99bikes.com.au   2
9           http://www.adelaideairport.com.au   2
10             http://www.adelaideoval.com.au   2
11              http://www.bikesociety.com.au   2
12                  http://www.btmgolf.com.au   2
13                    http://www.coles.com.au   2
14             http://www.en.wikipedia.org.au   2
15                    http://www.facebook.com   2
16        http://www.fg-shoppingcentre.com.au   2
17               http://www.foodlandsa.com.au   2
18                     http://www.gaza.com.au   2
19     http://www.henleysquarepavilion.com.au   2
20                http://www.mcdonalds.com.au   2
21                http://www.newrah.sa.gov.au   2
22               http://www.realestate.com.au   2
23                  http://www.slsa.sa.gov.au   2
24            http://www.adelaide-club.asn.au   1
25   http://www.adelaidefestivalcentre.com.au   1
26              http://www.adelaideinn.com.au   1
27         http://www.adelaidepavilion.com.au   1
28      http://www.adelaidesailingclub.com.au   1
29                http://www.airmaster.com.au   1
..                                        ...  ..
175              http://www.targetriflesa.com   1
176                http://www.tennyson.org.au   1
177             http://www.terminalspl.com.au   1
178          http://www.thebikestation.com.au   1
179               http://www.theblacks.com.au   1
180            http://www.thechillinspace.com   1
181               http://www.theexeter.com.au   1
182                http://www.thegreek.com.au   1
183          http://www.thehenryaustin.com.au   1
184    http://www.thelearningsanctuary.com.au   1
185     http://www.thememorialhospital.org.au   1
186                http://www.therange.net.au   1
187     http://www.theredmillbakehouse.com.au   1
188          http://www.thetopiarycafe.com.au   1
189               http://www.toiletmap.gov.au   1
190                http://www.unitedoc.com.au   1
191            http://www.uraidlahotel.com.au   1
192        http://www.visiononmorphett.com.au   1
193              http://www.vivazapata.com.au   1
194                  http://www.wch.sa.gov.au   1
195                  http://www.wea-sa.com.au   1
196                 http://www.webmenu.com.au   1
197              http://www.weewillies.com.au   1
198       http://www.westlakesgolfclub.com.au   1
199          http://www.westtorrens.sa.gov.au   1
200                  http://www.whs.sa.gov.au   1
201             http://www.wigglyworms.com.au   1
202              http://www.woolworths.com.au   1
203                      http://www.wowfm.org   1
204            http://www.zerellawines.com.au   1

[205 rows x 2 columns]

### Besides 'Website' key value, there are plenty of other key values that could use a programmatic fix for the data entry. Example 'Phone', 'City', 'Opening Hours', and 'Street' all have potential to programmatically clean and standardize the data entries.

### Exploring the data for most popular street name

In [44]:
query3_8 = '''select distinct value, count(value)
            from ways_tags
            where key = 'name'
            group by value
            order by count(value) desc;'''
cur.execute(query3_8)
results = cur.fetchall()

df = pd.DataFrame(results)
print (df)

                                0     1
0                  data.sa.gov.au  2918
1                          survey  1171
2                 main_north_road   238
3                      south_road   128
4             grand_junction_road   119
5                 main_south_road   100
6             port_wakefield_road    91
7                       esplanade    90
8                 commercial_road    85
9                     marion_road    83
10                 gregory's_1949    79
11                   heysen_trail    79
12                adelaide_o-bahn    72
13                   seaford_line    71
14                  military_road    68
15         mawson_lakes_boulevard    66
16                local_knowledge    65
17              tapleys_hill_road    64
18                grand_boulevard    63
19             northern_connector    63
20                  yorktown_road    61
21              golden_grove_road    60
22              winchester_street    60
23                   park_terrace    59
24          south_eastern_freeway    59
25              mount_barker_road    58
26                  george_street    57
27                  anzac_highway    56
28                   martins_road    56
29              salisbury_highway    56
...                           ...   ...
21838                 zante_grove     1
21839                  zara_court     1
21840                zariba_court     1
21841              zealand_street     1
21842  zebra_tree_lobbing_service     1
21843                   zed_court     1
21844               zeehan_street     1
21845              zeevalk_avenue     1
21846                zelda_avenue     1
21847                 zelda_close     1
21848               zenith_avenue     1
21849                zenith_court     1
21850            zenobia_crescent     1
21851                zephyr_court     1
21852                zephyr_grove     1
21853              zephyr_reserve     1
21854                zerella_road     1
21855               zerella_wines     1
21856                  zeta_court     1
21857                 zeta_street     1
21858                  zeus_court     1
21859                     zhu-lin     1
21860               zig_zag_climb     1
21861            zinfandel_avenue     1
21862                zinnia_court     1
21863             zircon_crescent     1
21864               zither_street     1
21865                   zoe_court     1
21866                 zollo_drive     1
21867                 zonta_place     1

[21868 rows x 2 columns]

## Issue 4: No organization to capitalization, spaces, or structure of strings in all databases
## Solution: programmatically clean and standardize all strings so they are lower case and underscores replace any spaces
### After fixing the largest issues noticed, I will further explore the data to learn more about the city and find out the most interesting things about Adelaide within our dataset

In [33]:
query3_7 = '''select distinct value, count(value)
            from ways_tags
            where key = 'street'
            group by value
            order by count(value) desc
            '''
cur.execute(query3_7)
results = cur.fetchall()

df = pd.DataFrame(results)

print (df)

                        0    1
0            torrens_road  171
1     grand_junction_road   79
2             may_terrace   76
3             ward_street   69
4            addison_road   68
5     king_william_street   63
6            jetty_street   62
7             rose_street   61
8        margaret_terrace   57
9           archer_street   56
10         russell_street   55
11         brougham_place   54
12              esplanade   54
13             dew_street   50
14          military_road   49
15         semaphore_road   48
16         jenkins_street   45
17         holland_street   42
18      ballantyne_street   41
19          george_street   41
20            nash_street   40
21         gliddon_street   35
22           gray_terrace   35
23          walter_street   35
24          edward_street   34
25         kintore_street   33
26       mcgregor_terrace   32
27             south_road   32
28      westmoreland_road   32
29      eldridge_crescent   31
..                    ...  ...
524         second_avenue    1
525        serafino_drive    1
526           sheoak_road    1
527       shillabeer_road    1
528       sinclair_street    1
529      sportsmans_drive    1
530        st_ann's_place    1
531           star_avenue    1
532    strangways_terrace    1
533         surrey_street    1
534          susan_street    1
535          tenth_avenue    1
536       terminus_street    1
537          the_crescent    1
538          third_avenue    1
539          thomas_place    1
540    tower_street_south    1
541            unley_road    1
542        vassall_street    1
543      victoria_terrace    1
544      wakefield_street    1
545          walsh_street    1
546    war_memorial_drive    1
547           ware_street    1
548        warracowie_way    1
549          webbe_street    1
550  west_lakes_boulevard    1
551        wingfield_road    1
552          wride_street    1
553          wyatt_street    1

[554 rows x 2 columns]

# Insights about data

### Most popular node details about way_key 'building' are entrances & the amenity 'toilets'.

In [37]:
query4_0 = '''select nodes_key, nodes_value, count(nodes_key)
            from master
            where ways_key = 'building'
            group by nodes_key
            order by count(nodes_value) desc
            '''
cur.execute(query4_0)
results = cur.fetchall()

df = pd.DataFrame(results)

print (df)

                  0                                1   2
0          entrance                              yes  65
1           amenity                          toilets  24
2              name  stop_27_diagonal_rd_-_west_side  19
3            source                   adelaide_metro  13
4          building                         entrance  10
5          operator                   australia_post   8
6            access                              yes   6
7           highway                         bus_stop   6
8             level                                0   6
9        wheelchair                              yes   5
10             type                             dome   4
11         man_made                     surveillance   3
12             shop                           tattoo   3
13          stop_id                           100095   3
14              atm                              yes   2
15          barrier                             gate   2
16            brand                          westpac   2
17           street                st_vincent_street   2
18     surveillance                          outdoor   2
19          bicycle                              yes   1
20          brewery                 coopers_pale_ale   1
21             city                        rosewater   1
22          country                               au   1
23             foot                              yes   1
24      housenumber                                1   1
25  internet_access                               no   1
26          leisure                   nature_reserve   1
27           noexit                              yes   1
28         postcode                             5013   1
29          tourism                          artwork   1
30  traffic_calming                             hump   1

### Most popular 'Natural' in Adelaide are trees. This is true to my memory as much outside of the city is dry and hot desert or beach.

In [38]:
query4_1 = '''select distinct value, count(value)
            from nodes_tags
            where key = 'natural'
            group by value
            order by count(value) desc
            '''
cur.execute(query4_1)
results = cur.fetchall()

df = pd.DataFrame(results)

print (df)

               0     1
0           tree  3878
1           peak    25
2            bay     2
3  cave_entrance     2
4         survey     2
5          beach     1

### Most popular religion in Adelaide is Christian

In [41]:
query4_2 = '''
            select distinct value, count(value)
            from ways_tags
            where key = 'religion'
        '''
cur.execute(query4_2)
results = cur.fetchall()

df = pd.DataFrame(results)
print (df)

           0   1
0  christian  89

### Most popular amenities in Adelaide are benchs and food places (restaurants, fast food, and cafes)

In [42]:
query4_3 = '''select distinct key, value, count(value) as num_value
            from nodes_tags
            where key = 'amenity'
            group by value
            order by num_value desc;'''
cur.execute(query4_3)
results = cur.fetchall()

df = pd.DataFrame(results)
print (df)

          0                        1     2
0   amenity                    bench  1845
1   amenity                fast_food   304
2   amenity               restaurant   288
3   amenity                  toilets   253
4   amenity                     cafe   240
5   amenity           drinking_water   203
6   amenity                  parking   178
7   amenity                 post_box   147
8   amenity                      pub   125
9   amenity                   survey   103
10  amenity                      bbq    93
11  amenity                     bank    91
12  amenity                telephone    91
13  amenity                     fuel    88
14  amenity                 pharmacy    86
15  amenity                  shelter    84
16  amenity             waste_basket    84
17  amenity         place_of_worship    81
18  amenity              post_office    64
19  amenity                      atm    57
20  amenity                   school    50
21  amenity                  doctors    48
22  amenity          bicycle_parking    43
23  amenity                  dentist    32
24  amenity             fire_station    28
25  amenity                      bar    22
26  amenity                  library    21
27  amenity               veterinary    18
28  amenity              bus_station    17
29  amenity                 car_wash    16
..      ...                      ...   ...
56  amenity               scout_hall     2
57  amenity          social_facility     2
58  amenity                   winery     2
59  amenity          animal_boarding     1
60  amenity                  brothel     1
61  amenity         bureau_de_change     1
62  amenity         charging_station     1
63  amenity             chiropractor     1
64  amenity                    clock     1
65  amenity  device_charging_station     1
66  amenity                     dojo     1
67  amenity            ferry_tourist     1
68  amenity                first_aid     1
69  amenity                 flagpole     1
70  amenity             funeral_home     1
71  amenity               grave_yard     1
72  amenity            hunting_stand     1
73  amenity               newsagency     1
74  amenity            parking_space     1
75  amenity             picnic_table     1
76  amenity                   prison     1
77  amenity           restaurant;bar     1
78  amenity                scrapyard     1
79  amenity                stripclub     1
80  amenity                   studio     1
81  amenity                  surgery     1
82  amenity                   swings     1
83  amenity                     tank     1
84  amenity               university     1
85  amenity           waste_disposal     1

[86 rows x 3 columns]

## Conclusion

### After exploring the data, it is clear there are plenty of inconsistencies and work to be done to make this dataset more complete and standardized. I have been able to take the first couple steps in cleaning the data and giving structure to the dataset. Much of the work left to be done is specific to each key's dataset. It could be useful to have a user watch over IDs section of the data since many of the way ids do not match up to the node ids. I really enjoyed getting to know the city of Adelaide again from a different perspective.