### Reading and Subsetting Data in R

In [1]:
getwd()

[1] "/Users/marcmaybaum/Desktop/Education/Udacity/Data_Analyst_Nanodegree/Project_4/Lesson 2"

In [2]:
setwd('~/Downloads')

In [3]:
statesInfo <- read.csv('stateData.csv')

In [11]:
head(statesInfo)

  X          state.abb state.area state.region population income illiteracy
1 Alabama    AL         51609     2             3615      3624   2.1
2 Alaska     AK        589757     4              365      6315   1.5
3 Arizona    AZ        113909     4             2212      4530   1.8
4 Arkansas   AR         53104     2             2110      3378   1.9
5 California CA        158693     4            21198      5114   1.1
6 Colorado   CO        104247     4             2541      4884   0.7
  life.exp murder highSchoolGrad frost area
1 69.05    15.1   41.3            20    50708
2 69.31    11.3   66.7           152   566432
3 70.55     7.8   58.1            15   113417
4 70.66    10.1   39.9            65    51945
5 71.71    10.3   62.6            20   156361
6 72.06     6.8   63.9           166   103766

### Creating a dataframe of only part of the data from above statsData.csv

In [7]:
stateSubset <- subset(statesInfo, state.region == 1)

In [8]:
head(stateSubset)

   X             state.abb state.area state.region population income illiteracy
7  Connecticut   CT         5009      1             3100      5348   1.1
19 Maine         ME        33215      1             1058      3694   0.7
21 Massachusetts MA         8257      1             5814      4755   1.1
29 New Hampshire NH         9304      1              812      4281   0.7
30 New Jersey    NJ         7836      1             7333      5237   1.1
32 New York      NY        49576      1            18076      4903   1.4
   life.exp murder highSchoolGrad frost area
7  72.48     3.1   56.0           139    4862
19 70.39     2.7   54.7           161   30920
21 71.83     3.3   58.5           103    7826
29 71.23     3.3   57.6           174    9027
30 70.93     5.2   52.5           115    7521
32 70.55    10.9   52.7            82   47831

#### Below stateSubsetBracket is another ways of writing the code:
stateSubset <- subset(statesInfo, state.region == 1)

In [9]:
stateSubsetBracket <- statesInfo[statesInfo$state.region == 1, ]

In [10]:
head(stateSubsetBracket)

   X             state.abb state.area state.region population income illiteracy
7  Connecticut   CT         5009      1             3100      5348   1.1
19 Maine         ME        33215      1             1058      3694   0.7
21 Massachusetts MA         8257      1             5814      4755   1.1
29 New Hampshire NH         9304      1              812      4281   0.7
30 New Jersey    NJ         7836      1             7333      5237   1.1
32 New York      NY        49576      1            18076      4903   1.4
   life.exp murder highSchoolGrad frost area
7  72.48     3.1   56.0           139    4862
19 70.39     2.7   54.7           161   30920
21 71.83     3.3   58.5           103    7826
29 71.23     3.3   57.6           174    9027
30 70.93     5.2   52.5           115    7521
32 70.55    10.9   52.7            82   47831

### What's an RMD File?

An R script can only have R code and commments

RMD file allows for so much more. Like Jupyter notebook, formatting of files and walking through the script for others is capable in RMD files.

Knit HTML allows to easily share RMD files.